<div class="full ">
    <!-- <div class="container">
        <b class="text-success"><i class="fa fa-bank" style="font-size:48px;"></i><br>
            <h1 class="text-white">Bank.</h1>
        </b>
    </div> -->
    <div class="col">
        
        <div class="main bg-dark text-white ">
                    <h1 class="text-center mt-2 text-white" >Register</h1>

            <i class="icon fa fa-bank m-3 pt-3 " style="font-size:48px;"></i>
            <h3 class="my">My Bank </h3>
    <form [formGroup]="registerForm" action="">    
        <div id="id" class="text-center">
    <input formControlName="uname" type="" id="user_name" class="form-control m-2 ms-5 mt-3 w-75"  placeholder="Username">
    <p *ngIf="this.registerForm.get('uname')?.errors && this.registerForm.get('uname')?.touched" class="text-danger" >Invalid UserName</p>
    <input formControlName="acno" type="number" id="acc-no" class="form-control m-2 ms-5 mt-3 w-75"  placeholder="Account Number">
    <p *ngIf="this.registerForm.get('acno')?.errors && this.registerForm.get('acno')?.touched" class="text-danger" >Invalid AccountNumber</p>
    <input formControlName="pswd" type="password" id="user_psw" class="form-control m-2 ms-5 mt-3 w-75"  placeholder="Password">
    <p *ngIf="this.registerForm.get('pswd')?.errors && this.registerForm.get('pswd')?.touched" class="text-danger" >Invalid Password</p>

    <button (click)="register()" class="btn w-75 btn-primary ms-2 mt-5">Register</button><br>
    <a routerLink=""  class="l mt-3" >Sign in</a>
    
        </div>
    </form>
  
  
        </div>
  
    </div>
  
  </div>
