.full{
    background-image: url(../../assets/image/g.jpg);
    background-repeat: no-repeat;
    background-size: 100% ;  
    background-size: cover;  
    height: 745px; 
}
.row{
    height: 100%;
}
.main{
    background-image: url(../../assets/image/g.jpg);
    background-repeat: no-repeat;
    height: 500px;

 }
.col{
    align-items: center;
    display: flex;
    justify-content: center;
}
h1{
    letter-spacing: 2px;
    font-weight: 800;
}